@media screen and (min-width: 950px) {
  :root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
  }

  body {
    background-image: url(../images/bg-desktop.svg);
    background-color: var(--violet);
    background-size: 100% 100%;
    min-height: none;
    padding: 5rem 5rem 0 5rem;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 3rem;
  }
  .logo {
    width: 200px;
    margin-bottom: 4rem;
  }
  .main img {
    max-width: 950px;
  }
  .content {
    font-size: 20px;
    width: 600px;
    max-width: none;
    display: flex;
    align-items: start;
    text-align: left;
    gap: 3rem;
  }

  .link {
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    padding: 1rem 4.5rem;
    text-decoration: none;
  }

  .link:hover {
    background-color: var(--soft-magenta);
    color: white;
  }

  .footer {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 15vh;
    font-size: 20px;
  }

  .fa-brands:hover {
    color: var(--soft-magenta);
  }
}
